.account {
  height: 100vh;
  background-color: #1e1e1e;
  padding: 20px 0px 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  .form_warp {
    width: 365px;
    margin: 0 auto;

    label {
      color: white;
      font-size: 14px;
      display: block;
    }

    .fs_12 {
      font-size: 12px;
    }
  }
}