.account {
    width: 100vw;
    height: 100vh;
    background: #282828;
    position: relative;

    .form_warp {
        width: 500px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        label {
            color: white;
            font-size: 14px;
            display: block;
        }
    }
}