.account {
  margin-top: 20px;
  background-color: #fff;
  padding: 20px 0px 20px 20px;
  border-radius: 5px;
  box-shadow: 0px 5px 10px #cccc;
  transition: all 0.3s ease;

  .form_warp {
    width: 460px;
    margin: 0 auto;

    label {
      color: white;
      font-size: 14px;
      display: block;
    }

    // .text_center {
    //     text-align: center;
    // }

    .fs_12 {
      font-size: 12px;
    }
  }
}