// 重置样式
@import "./normalize.scss";

// color
.color_white {
    color: white;
}

.color_gray {
  color: #ccc;
}

// font
.font_size {
    font-size: 12px;
}

// text-center
.text_center {
    text-align: center;
}